<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 18px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* Gap between welcome and icons in header */
  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    all: unset;
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card.card-small {
    height: 16px;
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 700;
    border: none;
    width: 50%;
    position: relative;
  }

  svg#pokeball {
    width: 600px;
    position: absolute;
    left: -49px;
    top: -25px;
  }
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 2%;
    width: 100%;
    text-align: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 70p;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/poke_logo.png" />
  <span>Welcome</span>
  <div class="spacer"></div>
  <a
    aria-label="helenijevans on LinkedIn"
    target="_blank"
    rel="noopener"
    href="https://www.linkedin.com/in/helenijevans/"
    title="LinkedIn"
  >
    <img
      id="linkedin-logo"
      height="30"
      data-name="Logo"
      src="../assets/linkedin.png"
    />
  </a>
  <a
    aria-label="helenijevans on GitHub"
    target="_blank"
    rel="noopener"
    href="https://github.com/helenijevans"
    title="GitHub"
  >
    <img id="gh-logo" height="30" data-name="Logo" src="../assets/gh.png" />
  </a>
</div>

<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <svg
      id="pokeball"
      xmlns="http://www.w3.org/2000/svg"
      width="200"
      height="200"
      viewBox="200 200"
    >
      <path
        d="M 30 50
        a 1 1 1 0 1 40 0
        h-12.5
        a 1 1 1 0 0 -15 0
        z"
        fill="#f00"
        stroke="#222"
      ></path>
      <circle cx="50" cy="50" r="6" fill="#fff" stroke="#fff"></circle>
      <circle cx="50" cy="50" r="5" fill="#222" stroke="#222"></circle>
      <path
        d="M 30 50
        a 1 1 1 0 0 40 0
        h-12.5
        a 1 1 1 0 1 -15 0
        z"
        fill="#fff"
        stroke="#222"
      ></path>
    </svg>

    <span class="poketitle">Pokemon Profiles</span>
  </div>
  <!-- Footer -->
  <footer>
    Love this project?&nbsp;
    <a href="https://github.com/helenijevans/pokemon-app"> Go to the repo. </a>
  </footer>
</div>

<router-outlet></router-outlet>
